<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <scriptsrc="https: //ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/script.js"></script>
        <title>My Notes</title>
</head>

<body>
    {{#each result}}

    <form action="/notes/edit-note/{{this._id}}?_method=PUT" method="POST" class="edit-delete-form" id="edit-note-form">
        <input type="text" name="title" id="title" placeholder="Title" value="{{this.title}}" />
        <textarea onkeyup="textAreaAdjust(this)" name="desc" id="desc" placeholder="Description">{{this.desc}}</textarea>
        <button type="submit" class="btn" >Edit Note</button>
    </form>

    {{/each}}

</body>

</html>